body{
    margin:0px;
}
.container{
    background-image:
    linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.7)),
    url('bg.jpg');

    /* background-image: url('bg.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
    /* background: rgb(208,133,240); */
    /* background: linear-gradient( rgba(0,0,0,0.5)  ,rgba(0,0,0,0.7) ); */
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: white;
    border:0.5px solid rgb(189, 187, 187);
    border-radius:5px;
    padding:20px;
    box-shadow: 0px 0px 10px 0px grey;
    display:flex;
    flex-direction: column;
}

#input{
    border:0.5px solid rgb(189, 187, 187);
    border-radius:15px;
    font-size: 15px;
    text-align: center;
    background-color: rgba(189, 187, 187,0.3);
    padding:5px 10px;
}
#generate_qr{
    width: 100%;
    margin-top: 15px;
    cursor: pointer;
    border:none;
    border-radius:15px;
    font-size: 15px;
    text-align: center;
    background-color: #0f79ab;
    padding:5px 10px;
    color:white;
}

#print_qr{
    width: 100%;
    margin-top: 15px;
    display: none;
    cursor: pointer;
    border:none;
    border-radius:15px;
    font-size: 15px;
    text-align: center;
    background-color: #0f79ab;
    padding:5px 10px;
    color:white;
}

#qrcode{
    width: 250px;
    margin:20px;
}